{% extends "base.html" %}

{% block content %}
<div class="sreejith-intro-styling">
	<div class="sreejith-intro-title"
		<p class="sreejith-intro-text">WELCOME TO MY PERSONAL PAGE</p>
	</div>
	<div class="seperator"></div>
	<div class="sreejith-into-small">
		<p class="sreejith-intro-small-text">I'm Sreejith Kalathil, 18 years old and a computer science majort.My interest is to code and program using different languages and create various interefaces that could benifit the public. Currently seeking more knowledge in the subject to be a professional in the future.<br><br><br>If you've similar interest, fell free to check out our blog, where we share intriguing articles about the subject.
		</p>
	</div>
	<br><br><br>
	<div class="about-me">
		<div class="we-are-container">
		</div>
	</div>
</div>

<div class="meet-the-gteam"></div>
{% endblock %}
